#game-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#game-board > div {
    height: 5rem;
    width: 5rem;
    background-color: azure;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.init-button {
    border-radius: 1rem;
    border: 0px;
    font-size: 80%;
    height: 5rem;
    width: 20rem;
    margin: 2rem;
}

.init-button:hover {
    background-color: rgb(185, 185, 185);
}

.play-div {
    height: 2rem;
    width: 8rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sample {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.emphasis {
    text-decoration: underline;
    border-radius: 20px;
}

.winner-div {
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: large;

}
:root {
    font-size: calc(1vh + 1vw);
    font-family: sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle {
    flex: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    height: 3rem;
    font-size: 2rem;
    background-color: rgb(241, 241, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer {
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 241, 241);
    width: 100%;
    font-size: 0.7rem;
}

.footer a {
    font-weight: lighter;
    color: black;
    margin-right: 0.5rem;
}


#names {
    padding: 1rem;

}

#names button {
    margin-top: 2rem;
    border-radius: 0.5rem;
    border: 0px;
    font-size: 80%;
    height: 2rem;
    width: 8rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#names button:hover {
    background-color: rgb(185, 185, 185);
}

#names div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
    column-gap: 0.5rem;
    align-items: center;
}

#names input {
    height: 100%;
    width: 10rem;
    border-radius: 0.2rem;
    border: 1px solid black;
    font-size: 60%;
}

#name button{
    margin-top: 2rem;
    border-radius: 0.5rem;
    border: 0px;
    font-size: 80%;
    height: 2rem;
    width: 8rem;
    display: block;
    margin-left: 1rem;
}

#name button:hover {
    background-color: rgb(185, 185, 185);
}

#name > div{
    display: grid;
    grid-template-columns: 6rem 1fr;
    margin: 1rem;
    column-gap: 0.5rem;
    align-items: center;
}

#name > div > input {
    height: 100%;
    width: 10rem;
    border-radius: 0.2rem;
    border: 1px solid black;
    font-size: 60%;
}

#radx, #rado{
    height: 100%;
    width: 1rem;
}

#name > div > div > div {
    display: grid;
    grid-template-columns: 1rem 1fr;
    column-gap: 0.4rem;
    margin: 0.3rem 0;
}

.bttns button{
    border-radius: 0.5rem;
    border: 0px;
    font-size: 80%;
    height: 2rem;
    width: 8rem;
    margin: 1rem;
}

.bttns button:hover {
    background-color: rgb(185, 185, 185);
}

.announce {
    margin-top: 2rem;
}