#game-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#game-board > div {
    height: 100px;
    text-align: center;
}

.init-button {
    height: 100px;
    width: 500px;
    margin:50px;
}

.play-div {
    height: 100px;
    width: 500px;
    margin:50px;
    text-align: center;
}

.sample {
    display: flex;
    flex-direction: row;
}

.emphasis {
    background-color: aqua;
}

.winner-div {
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: large;

}